@page "/"

@code {
    protected override async Task OnInitializedAsync()
    {
        WebHeader.TITLE = "Home";
        await InvokeAsync(StateHasChanged);
    }
}

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
