@page "/sections"
@code {
    User user;
    List<Section> sectionlist;
    protected override async Task OnInitializedAsync()
    {
        user = await localdb.GetItemAsync<User>(table.user);
        sectionlist = await localdb.GetItemAsync<List<Section>>(table.sections);
        if (sectionlist == null) sectionlist = new();
    }

    async Task OnAddClick()
    {
        var d = await dialog.Show<DialogAddSection>("Add Section", new DialogOptions() { MaxWidth = MaxWidth.ExtraSmall }).Result;
        if (!d.Cancelled)
        {
            var data = (Section)d.Data;
            if (sectionlist == null) sectionlist = new();
            sectionlist.Add(data);
            await localdb.SetItemAsync(table.sections, sectionlist);
        }
    }
}

<div class="row">
    <div class="col-md-12">
        <MudPaper Elevation="25" Class="p-3 mb-3">
            <MudToolBar Dense Class="p-0 m-0">
                <MudSpacer />
                <MudTooltip Placement="Placement.Start" Text="Add section">
                    <MudIconButton OnClick="OnAddClick" Icon="@Icons.Rounded.Edit" Variant="Variant.Filled" Size="Size.Small" Color="Color.Primary" />
                </MudTooltip>
            </MudToolBar>
            @if (sectionlist == null)
            {
                <MudProgressLinear Color="Color.Primary" Size="Size.Small" Indeterminate Class="mt-3" />
            }
            else
            {
                if (sectionlist.Count == 0)
                {
                    <p class="p-5 text-center">
                        <i>No section added yet.</i>
                    </p>
                }
                <MudList Style="height:72vh;overflow:scroll" Dense Clickable>
                    @foreach (var sec in sectionlist)
                    {
                        <MudListItem Avatar="@Icons.Rounded.AccountBalance" OnClick="@(()=> nav.NavigateTo($"/sections/{sec.Id}"))" Dense>
                            <MudText Typo="Typo.h6">@sec.Name</MudText>
                        </MudListItem>
                    }
                </MudList>
            }
        </MudPaper>

    </div>
</div>