@page "/balance"
@inject HttpClient http

@code {
    private static readonly string apiKey = "1vI6Ri0Ek3oAriAOlmKakibB9Lb";
    private static readonly string apiSecret = "LQpj7KEpoyaUgHjqw8xuZ43sgxAF3y14Kuh9nF0t";
    protected override async Task OnInitializedAsync()
    {

    }

    async Task LoadBalance()
    {
        var postReq = new HttpResponseMessage();
        try
        {
            string data = $"api_key={apiKey}&api_secret={apiSecret}";
            var reqMessage = new HttpRequestMessage();
            reqMessage.RequestUri = new Uri("https://api.movider.co/v1/balance");
            reqMessage.Method = HttpMethod.Post;
            reqMessage.Headers.Add("Accept", "application/json");
            reqMessage.Content = new StringContent(data, System.Text.Encoding.UTF8, "application/x-www-form-urlencoded");
            postReq = await http.SendAsync(reqMessage);
        }catch(Exception e) { }
        snackbar.Add(await postReq.Content.ReadAsStringAsync());
    }
}

<div class="row">
    <div class="col-md-12">
        <MudButton OnClick="LoadBalance">Get Balance</MudButton>
    </div>
</div>