@page "/sections"
@code {
    User user;
    List<Section> sectionlist;
    protected override async Task OnInitializedAsync()
    {
        WebHeader.TITLE = "Sections";
        user = await localdb.GetItemAsync<User>(table.table_user);
        await LoadData();
    }
    async Task LoadData()
    {
        sectionlist = await _db.GetListSection(user.Email);
        if (sectionlist == null) sectionlist = new();
        await InvokeAsync(StateHasChanged);
    }

    async Task OnAddClick()
    {
        var d = await dialog.Show<DialogAddSection>("Add Section", new DialogOptions() { MaxWidth = MaxWidth.ExtraSmall }).Result;
        if (!d.Cancelled)
        {
            var data = (Section)d.Data;
            await LoadData();
            snackbar.Add($"{data.Name} successfully added to the list.");
        }
    }
}

<div class="row">
    <div class="col-md-12">
        <MudToolBar Dense Class="mb-3 p-0">
            <MudSpacer />
            <MudTooltip Placement="Placement.Start" Text="Add section">
                <MudButton OnClick="OnAddClick" StartIcon="@Icons.Rounded.Edit" Size="Size.Small" Color="Color.Primary" Variant="Variant.Filled">Add Section</MudButton>
            </MudTooltip>
        </MudToolBar>
        <MudPaper Elevation="25" Class="p-3 mb-3">

            @if (sectionlist == null)
            {
                <MudProgressLinear Color="Color.Primary" Size="Size.Small" Indeterminate Class="mt-3" />
            }
            else
            {
                <MudList Style="height:65vh;overflow:scroll" Dense Clickable>
                    @if (sectionlist.Count == 0)
                    {
                        <p class="p-5 text-center">
                            <i>No section added yet.</i>
                        </p>
                    }
                    @foreach (var sec in sectionlist)
                    {
                        <MudListItem Avatar="@Icons.Rounded.AccountBalance" OnClick="@(()=> nav.NavigateTo($"/sections/{sec.Id}"))" Dense>
                            <MudText Typo="Typo.h6">@sec.Name</MudText>
                        </MudListItem>
                    }
                </MudList>
            }
        </MudPaper>

    </div>
</div>